# BACK END
.env
_ide_helper*.php
/.idea
/vendor

# FRONT END
/node_modules
/npm-debug.log
/public_html/build
/public_html/css
/public_html/js
/public_html/media
/public_html/mix-manifest.json
package-lock.json
